@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .italic {
    font-style: normal;
    font-variation-settings: "slnt" -11, "CRSV" 1;
  }
}

html {
  @apply overscroll-none;
}

body {
  @apply h-screen bg-slate-100 text-slate-900 dark:bg-slate-900 dark:text-slate-300;
}

summary {
  list-style-image: none;
}
summary::-webkit-details-marker {
  display: none;
  background: none;
  color: transparent;
}
details summary svg {
  transform: rotate(90deg);
}
details[open] summary svg {
  transform: rotate(-90deg);
}
